.section1 {
	background-color: #6ACCBC;
}

.section2 {
	background-color: #6ACCBC;
}

.section3 {
	background-color: #6ACCBC;
}

.section4 {
	background-color: #6ACCBC;
}

.card, .card-img-top {
	border-radius: 0;
}